<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/message_list.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/messages/create">Add a Message</a></p>

    <div class="grid-container">
      <select class="message-filter">
        <option value="tinder">Tinder</option>
        <option value="jobs">Jobs</option>
        <option value="all">All Messages</option>
      </select>

      <label>
        <input type="checkbox" class="show-archived"/>Show Archived
      </label>

      <div class="message-list"></div>
    </div>

    <script>
      const messages = <%- JSON.stringify(messages) %>;
    </script>
    </script>
    <script src="/javascripts/message_list.js"></script>
  </body>
</html>
