<!DOCTYPE html>
<html>
  <head>
    <title>Message List</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Message List</h1>
    <p>Welcome to Message List</p>
    <%= messages %>
  </body>
</html>
